.body{
    border-style:solid;
    border-width:1px;
    border-color: grey;
    border-radius: 5px;
    padding:10px;
    width:auto;
    height:auto;
    margin-bottom:0px;
}

h1{
    color:forestgreen;
    text-align:center;
    margin:0px;
}

.picture-box {
    text-align:center;
    padding:50px;
}

.pictures {
    display: inline-block;
    height: 10%;
    width: auto;
}

.logo-box{
    text-align:right;
}

.logo{
    display:inline-block;
}

.announcements{
    border-style:dashed;
    border-width:1px;
    border-color:grey;
    border-radius: 5px;
    padding:10px;
    text-align:center;
}

.grid-container{
    padding:10px;
    display:grid;
    grid-gap:10px;
}

.grid-item1 {
    text-align:center;
    grid-column-start: 1;
    grid-column-end: 1;
}
.grid-item2 {
    text-align: center;
    grid-column-start: 2;
    grid-column-end: 2;
}
.grid-item3 {
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 1;
}
.grid-item4 {
    text-align: center;
    grid-column-start: 2;
    grid-column-end: 2;
}
.grid-item5 {
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 1;
}
.grid-item6 {
    text-align: center;
    grid-column-start: 2;
    grid-column-end: 2;
}
.fruit-pictures {
    display: inline-block;
    height: 80px;
    width: auto;
}

.fruit-text {
    color: forestgreen;
    width: auto;
    border-style: dashed;
    border-width: 1px;
    border-color: grey;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}

.fruit-text:hover{
    background-color:forestgreen;
    color:white;
}