.body{
    border-style:solid;
    border-width:1px;
    border-color: grey;
    border-radius: 5px;
    padding:10px;
    width:auto;
    height:auto;
    margin-bottom:0px;
}

h1{
    color:forestgreen;
    text-align:center;
    margin:0px;
    font-weight:700;
}
h2 {
    color: forestgreen;
    text-align: center;
    margin:0px;
    font-weight: 400;
}

.picture-box {
    text-align:center;
    padding:50px;
}

.pictures {
    display: inline-block;
    width: 15vw;
    height: auto;
}

.logo-box{
    text-align:right;
}

.logo {
    display: inline-block;
    width: 10vw;
    height: auto;
}

.announcements{
    border-style:dashed;
    border-width:1px;
    border-color:grey;
    border-radius: 5px;
    padding:10px;
    text-align:center;
}

.grid-container{
    padding:10px;
    display:grid;
}

.grid-status {
    text-align: center;
    grid-column-start: 2;
    grid-column-end: 2;
}

.grid-logo {
    text-align: center;
    grid-column-start: 3;
    grid-column-end: 3;
}

.grid-annoucements {
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 3;
}

.ingredientOne{
    text-align:center;
    grid-column-start: 1;
    grid-column-end: 1;
}
.ingredientTwo {
    text-align: center;
    grid-column-start: 2;
    grid-column-end: 2;
}
.ingredientThree {
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 1;
}
.ingredientFour {
    text-align: center;
    grid-column-start: 2;
    grid-column-end: 2;
}
.ingredientFive {
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 1;
}
.ingredientSix {
    text-align: center;
    grid-column-start: 2;
    grid-column-end: 2;
}
.fruit-pictures {
    display: inline-block;
    width:5vw;
    height:auto;
}

.fruit-text {
    color: forestgreen;
    width: auto;
    padding: 10px;
    text-align: center;
}

.ingredient-control {
    display:inline-block;
    padding: 10px;
    text-align: center;
    width:20px;
    border-style: solid;
    border-width: 1px;
    border-color: grey;
    border-radius: 5px;
    color:forestgreen;
    font-size: 20px;
    font-weight:800;
}

.ingredient-control:hover{
    background-color:forestgreen;
    color:white;
}

.ingredient-control-text {
    display: inline-block;
    padding: 10px;
    width: 20px;
    border-radius: 5px;
    color: forestgreen;
    text-align: center;
    font-weight: 800;
}

.navigation-button {
    display:inline-block;
    text-align:center;
    padding: 10px 30px;
    width: auto;
    border-style: solid;
    border-width: 1px;
    border-color: grey;
    border-radius: 5px;
    color: forestgreen;
    font-size: 20px;
    font-weight: 800;
}

    .navigation-button:hover {
        background-color: forestgreen;
        color: white;
    }

    .start-navigation{
        text-align:center;
    }